#about_banner{
    background: url(../images/contact.gif) no-repeat center;
    margin-bottom: 50px;
}
/*====================================
            address part start
=======================================*/
#address_part{
    margin-bottom: 50px;
}
#address_part .right_part{
    margin-top: 30px;
}
#address_part .right_part .item{
    text-align: center;
    margin-top: 20px;
}
#address_part .right_part .item img{
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#address_part .right_part .item h4{
    font-family: 'Nunito', sans-serif;
    color: #171F32;
    font-weight: 700;
    padding-bottom: 8px;
}
#address_part .right_part .item p{
    font-family: 'Rubik', sans-serif;
    color: #FF5421;
}
#address_part .right_part .media_icon{
    margin-top: 50px;
}
#address_part .right_part .media_icon h4{
    font-family: 'Nunito', sans-serif;
    color: #171F32;
    font-weight: 700;
    padding-bottom: 8px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
#address_part .right_part .media_icon h4::before{
    content: "";
    position: absolute;
    border: 0;
    width: 50px;
    height: 2px;
    background: #ff5421;
    bottom: 0;
    left: 38%;
}
#address_part .right_part .media_icon .icon{
    text-align: center;
    margin-bottom: 10px;
}
#address_part .right_part .media_icon .icon i{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #171F32;
    color: white;
    line-height: 50px;
    font-size: 18px;
    transition: .4s;
}
#address_part .right_part .media_icon .icon:hover i{
    background: #FF5421;
}
#address_part .right_part .media_icon .icon a{
    font-family: 'Rubik', sans-serif;
    color: #FF5421;
    margin-left: 10px;
}
#address_part .right_part .media_icon .icon:hover a{
    color: #171F32;
    text-decoration: underline;
}
/*====================================
            address part end
=======================================*/

/*====================================
            map part start
=======================================*/
#map_part{
    margin: 100px 0;
}
#map_part .location_title{
    text-align: center;
    margin-bottom: 50px;
}
#map_part .location_title img{
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#map_part .location_title h4{
    font-family: 'Nunito', sans-serif;
    color: #171F32;
    font-weight: 800;
    padding-bottom: 8px;
    text-align: center;
    position: relative;
}
#map_part .location_title h4::before{
    content: "";
    position: absolute;
    border: 0;
    width: 50px;
    height: 2px;
    background: #ff5421;
    bottom: 0;
    left: 44%;
}
#map_part .location_title p{
    font-family: 'Rubik', sans-serif;
    color: #FF5421;
    margin-top: 10px;
}
#map_part .map{
    border: 2px solid #ff5421;
}
/*====================================
            map part end
=======================================*/

/*====================================
            form part start
=======================================*/
#form_part{
    padding-bottom: 200px;
    background: #eee;
}
#form_part .left_part{
    margin-top: 20px;
}
#form_part h2{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: 700;
    color: #171F32;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 50px;
}
#form_part p{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #FF5421;
    margin-bottom: 50px;
    margin-left: 11%;
    width: 415px;
    text-align: center;
}

#form_part form input, textarea{
    width: 100%;
    margin-bottom: 20px;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
#form_part form input::placeholder, textarea::placeholder{
    font-family: 'Rubik', sans-serif;
}
#form_part form input[type="submit"]{
    background: #171F32;
    color: white;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    transition: .4s;
}
#form_part form input[type="submit"]:hover{
    background: #FF5421;
}
/*====================================
            form part end
=======================================*/