.course{
    margin-bottom: 50px;
}
#about_banner{
    background: url(../images/course.gif) no-repeat center;
}
/* =================================
            course start
====================================*/
#course_part{
    margin-bottom: 200px;
}
#course_part .course_row{
    margin-top: 80px;
}
#course_part .course_item{
    box-shadow: 1px 1px 22px 1px rgba(23,31,50,0.56);
    position: relative;
    margin-bottom: 50px;
    border: 1px solid white;
    transition: .4s;
}
#course_part .course_item:hover{
    border: 1px solid #FF5421;
}
#course_part .course_item .course_img{
    background: #eee;
    text-align: center;
    padding: 20px 0;
    overflow: hidden;
}
#course_part .course_item .course_img img{
    width: 40%;
    transition: all .8s ease;
    transform: scale(1);
}
#course_part .course_item:hover .course_img img{
    transform: scale(1.2);
}
#course_part .course_item .course_details{
    padding: 20px 30px;
}
#course_part .course_item .course_details h1{
    line-height: 30px;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #f4f0f0;
}
#course_part .course_item .course_details h1 a{
    color: #171F32 !important;
    display: inline-block;
}
#course_part .course_item:hover .course_details h1 a{
    color: #FF5421 !important;
}
#course_part .course_item .course_details .icons_box{
    padding-top: 20px;
}
#course_part .course_item .course_details .icons_box .icon{
    text-align: center;
}
#course_part .course_item .course_details .icons_box .icon i{
    color: #FF5421;
    font-size: 18px;
}
#course_part .course_item .course_details .icons_box .icon p{
    color: #171F32;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    line-height: 26px;
    font-weight: 400;
}
#course_part .course_item .course_details .apply-btn{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}
#course_part .course_item .course_details .apply-btn a{
    color: white;
    background: #FF5421;
    font-family: 'Rubik', sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .4s;
}
#course_part .course_item .course_details .apply-btn a:hover{
    background: #171F32;
}


#course_part .course_item .course_price{
    background: #FF5421;
    display: inline-block;
    padding: 8px 20px;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    box-shadow: -7px 7px 15px 5px rgba(0,0,0,0.23);
}
#course_part .course_item .course_price span{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
/* =================================
            course  end
====================================*/