
/* ==========================================
            banner part start
=============================================*/
#banner_part{
    padding: 10px 0;
    margin-bottom: 80px;
}

#banner_part .banner_left .banner_content{
    padding-top: 95px;
}
#banner_part .banner_left .banner_content h4{
    text-transform: uppercase;
    color: #FF5421;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 20px;
}
#banner_part .banner_left .banner_content h1{
    font-size: 50px;
    line-height: 70px;
    font-weight: 800;
    color: #171f32;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

#banner_part .banner_left .banner_content a{
    font-size: 16px;
    line-height: 38px;
    font-weight: 700;
    padding: 8px 30px;
    border-radius: 4px;
    background-color: #FF5421;
    border-color: transparent;
    color: #ffffff;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    transition: .4s;
    margin-top: 20px;
}
#banner_part .banner_left .banner_content a:hover{
    background: #171F32;
}


/* ==========================================
            banner part end
=============================================*/

/* ==========================================
            subject part start
=============================================
#subject_part{
    margin-top: 50px;
    margin-bottom: 50px;
    background: url(../images/services-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 50px 0;
}
#subject_part .subject_row{
    padding-bottom: 50px;
}
#subject_part .title{
    padding: 50px 0;
}
#subject_part .subject_item{
    padding: 45px 15px 40px 15px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0 0 30px #eee;
}
#subject_part .subject_item .subject_img{
    text-align: center;
    padding: 20px 0;
}
#subject_part .subject_item .subject_img img{
    width: 100px;
}
#subject_part .subject_item .subject_content h3{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: #171f32;
    padding-bottom: 15px;
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
}
#subject_part .subject_item .subject_content p{
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color: #363636;
    padding-bottom: 10px;
    font-family: 'Rubik', sans-serif;
}
#subject_part .subject_item:hover .subject_content h3{
    color: #FF5421;
}

/* ==========================================
            subject part end
=============================================*/

/* ==========================================
            course part start
=============================================*/
#course_part{
    margin-bottom: 20px;
}
#course_part .course_row{
    margin-top: 80px;
}
#course_part .course_item{
    box-shadow: 1px 1px 22px 1px rgba(23,31,50,0.56);
    position: relative;
    border: 1px solid white;
    transition: .4s;
}
#course_part .course_item:hover{
    border: 1px solid #FF5421;
}
#course_part .course_item .course_img{
    background: #eee;
    text-align: center;
    padding: 20px 0;
    overflow: hidden;
}
#course_part .course_item .course_img img{
    width: 40%;
    transition: all .8s ease;
    transform: scale(1);
}
#course_part .course_item:hover .course_img img{
    transform: scale(1.2);
}
#course_part .course_item .course_details{
    padding: 20px 30px;
}
#course_part .course_item .course_details h1{
    line-height: 30px;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #f4f0f0;
}
#course_part .course_item .course_details h1 a{
    color: #171F32 !important;
    display: inline-block;
}
#course_part .course_item:hover .course_details h1 a{
    color: #FF5421 !important;
}
#course_part .course_item .course_details .icons_box{
    padding-top: 20px;
}
#course_part .course_item .course_details .icons_box .icon{
    text-align: center;
}
#course_part .course_item .course_details .icons_box .icon i{
    color: #FF5421;
    font-size: 18px;
}
#course_part .course_item .course_details .icons_box .icon p{
    color: #171F32;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    line-height: 26px;
    font-weight: 400;
}

#course_part .course_item .course_price{
    background: #FF5421;
    display: inline-block;
    padding: 8px 20px;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    box-shadow: -7px 7px 15px 5px rgba(0,0,0,0.23);
}
#course_part .course_item .course_price span{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
#course_part .all_button{
    margin-top: 50px;
}
.all_button{
    padding-bottom: 100px;
    text-align: center;
}
.all_button a{
    color: #FFFFFF;
    background: #FF5421;
    border-radius: 30px;
    font-size: 14px;
    padding: 15px 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    transition: .4s;
}
.all_button a:hover{
    background: #171F32;
}
/* ==========================================
            course part end
=============================================*/

/* ==========================================
           why learn part start
=============================================*/
#learn_part{
    padding: 50px 0;
    margin-bottom: 100px;
}
#learn_part .learn_img{
    transition: all 0.3s;
}
#learn_part .learn_img:hover{
    transform: perspective(300px) rotateX(4.55deg) rotateY(-4.17deg) scale3d(1,1,1);
}
#learn_part .learn_details{
    margin-left: 30px;
}
#learn_part .learn_details h1{
    color: #171F32;
    line-height: 1.2;
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 15px;
    padding-top: 20px;
    font-family: 'Nunito', sans-serif;
}
#learn_part .learn_details p{
    font-size: 18px;
    line-height: 31px;
    color: #171F32;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
#learn_part .learn_details .learn_item{
    display: flex;
    background: white;
    padding: 20px;
    margin-top: 20px;
}
#learn_part .learn_details .learn_item .img img{
    width: 90px;
}
#learn_part .learn_details .learn_item .details{
    margin-left: 20px;
}
#learn_part .learn_details .learn_item .details h3{
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    padding-bottom: 5px;
    color: #171f32;
    font-family: 'Nunito', sans-serif;
}
#learn_part .learn_details .learn_item .details p{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
    color: #333333;
    font-family: 'Rubik', sans-serif;
}
/* ==========================================
           why learn part end
=============================================*/



